<%= content_for :header do %>
  <h1>Open Spaces</h1>
<% end %>

<%= @agenda.title %>

<ul data-role="listview" data-inset="true">
<% @slots.each do |slot| %>
  <li><%= slot.location.name %></li>
<% end %>
</ul>



