<% if @sessions.empty? %>
  Todavía no hay sesiones propuestas.
<% else %>
  <ul data-role="listview" data-filter="true">
  <% @sessions.each do |session| %>
  	<li>
  	  <%= link_to session.title, session_path(session) %>
  	  <span class="ui-li-count"><%= session.up_votes %></span>
  	</li>
  <% end %>
  </ul>
<% end %>