<%= content_for :header do %>
  <h1>Sesiones propuestas</h1>
<% end %>

<% if @sessions.empty? %>
  <%= link_to "No hay sesiones, puedes proponer una sesión", new_session_path, 'data-role'=> 'button', 'data-theme'=>'b' if current_user %>
<% else %>
  <ul data-role="listview" data-filter="true">
  <% @sessions.each do |session| %>
  	<li>
  	  <%= link_to session.title, session_path(session) %>
  	  <span class="ui-li-count"><%= session.up_votes %></span>
  	</li>
  <% end %>
  </ul>
<% end %>