<%= content_for :header do %><h1>Editar evento</h1><% end %>
<%= render 'form' %>
<%= link_to 'Deseas eliminar el evento?', event_path(@event), 'data-role'=>'button', method: :delete, confirm: 'Are you sure?' %>