<%= content_for :header do %>
  <%= link_to "Inicio", root_path, 'data-icon'=> 'home' %>
  <h1>Eventos</h1>
  <%= link_to "Nuevo", new_event_path, 'data-icon'=> 'plus' if can? :create, Event %>
<% end %>

<ul data-role="listview" data-filter="true">
<% @events.each do |event| %>
	<li><%= link_to event.name, event_path(event) %></li>
<% end %>
</ul>