<%= content_for :header do %>
  <h1>Eventos</h1>
<% end %>

<ul data-role="listview" data-filter="true">
<% @events.each do |event| %>
	<li><%= link_to event.name, event_path(event) %></li>
<% end %>
</ul>