<%= content_for :header do %>
  <%= link_to "", menu_event_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Tweets</h1>
<% end %>

<ul data-role="listview" data-inset="true">
<% @tweets.each do |tweet| %>
  <li><%= tweet %></li>
<% end %>
</ul>