<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <% @agenda.each do |item| %>
  <li data-role="list-divider"><%= item.starts_ends_title %></li>
    <% item.slots.each do |slot| %>
      <li><%= link_to slot.description, event_slot_path(current_event, slot) %></li>
    <% end %>
  </li>
  <% end %>
</ul>