<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <% @agenda.each do |item| %>
  <li>
    <%= link_to event_agenda_path(current_event, item) do  %>
      <%= "#{item.starts.strftime('%H:%M')} - #{item.ends.strftime('%H:%M')}: #{item.title}" %>
    <% end %>
  </li>
  <% end %>
</ul>