<%= content_for :header do %>
  <%= link_to "", menu_event_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <% @agenda.each do |item| %>
    <li><%= link_to item.starts_ends_title, event_agenda_path(current_event, item) %></li>
  <% end %>
</ul>