<%= content_for :header do %>
  <%= link_to_home %>
  <h1>Acerca de</h1>
<% end %>

Aplicación mobile de manejo de eventos con soporte para Open Spaces.
<a href="https://github.com/lshimokawa/openspace" data-role="button" rel="external">Github repository</a>