<h1>Agile Open Lima V</h1>
<p>
Cuándo: Sábado 25 de Febrero 2012, 9:00am – 6:00pm<br />
Dónde: Universidad San Martín de Porres - Facultad de Ingeniería y Arquitectura (Av. La Fontana 1250 Urbanización Santa Patricia)
</p>