<%= content_for :header do %>
  <%= link_to "Inicio", root_path, 'data-icon'=> 'home' %>
  <h1>Acerca de</h1>
<% end %>

<p>Aplicación mobile de manejo de eventos con soporte para Open Spaces.</p>
<a href="https://github.com/lshimokawa/openspace">https://github.com/lshimokawa/openspace</a>