<%= content_for :header do %>
  <%= link_to_home %>
  <h1>Acerca de</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <li>Aplicación mobile de manejo de eventos con soporte para Open Spaces.</li>
  <li><a href="https://github.com/lshimokawa/openspace" rel="external">Github repository</a></li>
</ul>