<%= content_for :header do %>
  <h1>Open Space</h1>
  <% if current_user %>
    <%= link_to "Sign Out", signout_path, 'data-role'=> 'button', 'data-icon'=>'twitter', 'class'=>'ui-btn-right' %>
  <% else %>
    <%= link_to "Sign in", "/auth/twitter", 'data-role'=>'button', 'data-icon'=>'twitter', 'class'=>'ui-btn-right', :rel => 'external' %>
  <% end %>
<% end %>

<% if @events.empty? %>
  No hay eventos activos.
<% else %>
  <ul data-role="listview">
  <% @events.each do |event| %>
  	<li>
  	  <%= link_to event.name, menu_event_path(event) %>
  	</li>
  <% end %>
  </ul>
<% end %>
