<%= content_for :header do %>
  <%= link_to "Inicio", root_path, 'data-icon'=> 'home' %>
  <h1>Sobre los Open Space</h1>
<% end %>

<!-- TODO reemplazar estilos!!!  -->
<ul data-role="listview" style="white-space: normal">
  <li data-role="list-divider">Introducción</li>
  <li>
    <p style="white-space:normal">La técnica del Open Space permite conseguir, de un grupo numeroso de personas y en un mínimo tiempo, las mejores ideas alrededor de una o varias grandes materias (“tracks") sobre un gran tema. En un Open Space los asistentes se autoorganizan proponiendo los temas y programando una serie de reuniones que van a tener lugar justo a continuación. Suele durar entre medio día y hasta dos días completos. Las reuniones pueden tener lugar simultáneamente y los asistentes son libres de decidir a qué sesiones quieren asistir y de cambiar de reunión en cualquier momento.</p>
    
  </li>
  <li data-role="list-divider">4 principios</li>
  <li>
    <h3 style="white-space:normal">Cualquier persona que se presente en una reunión es la persona adecuada</h3>
    <p style="white-space:normal">Cualquier participante en una reunión es correcto simplemente por que se ha preocupado en venir.</p>
  </li>
  <li>
    <h3 style="white-space:normal">Cualquier cosa que esté sucediendo es la única cosa que podremos llegar a tener</h3>
    <p style="white-space:normal">Estate atento a lo que está pasando ahora, en lugar de preocuparte sobre lo que podría pasar</p>
  </li>
  <li>
    <h3 style="white-space:normal">Sea cual sea el momento en que comience, es el momento correcto</h3>
    <p style="white-space:normal">Este principio ayuda a superar la falta de un horario o agendas previo al Open Space y enfatiza la creatividad y la innovación).</p>
  <li>
      <h3 style="white-space:normal">Cuando se acabó, se acabó</h3>
      <p style="white-space:normal">Fomenta que los participantes no desperdicien el tiempo y, por el contrario, que cambien a otro tema cuando una discusión fructífera deja de serlo).</p>
  </li>
  <li data-role="list-divider">1 ley</li>
  <li>
      <h3 style="white-space:normal">Ley de los 2 pies</h3>
      <p style="white-space:normal">Si en algún momento sientes que no estás aprendiendo o contribuyendo en nada, usa tus dos pies. Vete a otra reunión donde puedas aprender o contribuir. (Nadie debería estar en una reunión que considera aburrida, sólo las personas que estén genuinamente interesadas en el tema deberían asistir a una reunión).<p/>
      <p>Fuente: <a href ="http://www.agile-spain.com/que-es-como-hacer-open-space">http://www.agile-spain.com</a></p>
  </li>
</ul>

