<%= content_for :header do %>
  <h1>Editar ambiente</h1>
<% end %>

<%= render 'form' %>
<%= button_to 'Eliminar', event_location_path(current_event, @location), 'data-icon'=>'alert', :method => :delete %>